<% provide(:title, @user.name ) %>
<div class="row">
  <div class="large-4 large-offset-4 columns center">
    <p>You're logged in as</p>
    <h1><%= @user.name %></h1>
    <p><%= @user.email %></p>
    <%= link_to "Sign out", signout_path, method: "delete", class: "button small radius round" %>
    <br />
    <br />
  </div>
</div>