<div class="center">
  <h1><br />Search some tweets</h1>
  <br />
  <br />
  <br />
  <%= link_to "Get Started", signin_path, :class => "button alert round radius sign-up" %>
  <h4><small>or see some <%= link_to "API requests", requests_path %></small></h4>
</div>